.main {
    width: 100%;
}

.visualSectionContainer {
    width: 100%;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.visualTitle {
    font-size: 32px;
    font-family: var(--fn-gothic);
    display : flex;
    align-items: flex-end;
}

.visualTitle > b {
    font-size: 40px;
    font-family: var(--fn-jua);
    line-height : 0.92;
}

.searchContainer {
    display: flex;
    align-items: center;
    margin-top: 22px;
    width: 90%;
    max-width: 470px;
    position: relative;
}

.searchContainer > input {
    width: 100%;
    height: 55px;
    border-radius: 12px;
    border: 1px solid #242424;
    outline: none;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 45px;
    font-family: var(--fn-gothic);
}
.searchContainer > input:hover {
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

.searchContainer > button {
    width: 55px;
    height: calc(100% - 4px);
    position: absolute;
    z-index: 1;
    right: 1px;
    top: 50%;
    transform : translateY(-50%);
    border: 0;
    background-color: unset;
    font-size: 20px;
    cursor: pointer;
    border-radius : 0 10px 10px 0;
}


/* 최근 추가된 클라이밍장 */
.recentClimbGymListContainer {
    padding-top : 15vh;
    width : 100%;
    max-width: 1070px;
    margin : 0 auto;
}

.recentClimbGymListContainer > h1 {
    font-family: var(--fn-sans);
    font-weight : 900;
    font-size: 22px;
}

.recentClimbGymList {
    display: flex;
    margin-top: 54px;
    overflow-x: scroll;
    padding-bottom: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.recentClimbGymList:hover::-webkit-scrollbar {
    opacity: 1;
}
.recentClimbGymList::-webkit-scrollbar {
    opacity: 0;
}
.recentCard, .emptysetCard{
    flex-basis: 280px;
    flex-shrink: 0;
    width: 270px;
    height: 260px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 12px;
    padding: 35px 25px;
    cursor: pointer;
}


.recentCard:not(:last-of-type) {
    margin-right: 18px;
}

.recentCard:hover, .emptysetCard:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.recentCard > h1 {
    font-family: var(--fn-jua);
    font-size: 20px;
}
.recentCard:hover > h1 {
    color : #098db4;
}

.recentCard > p {
    font-size: 16px;
    font-family: var(--fn-gothic);
    letter-spacing: -0.96px;
    padding-top: 6px;
    color : rgba(0,0,0,0.5);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.reviewContainer {

}

.reviewContainer > h2 {
    font-size: 15px;
    font-family: var(--fn-jua);
    padding-top: 15%;
}

.reviewContainer > ul {
    width: 100%;
    padding-top: 8px;
}

.reviewContainer > ul > li {
    font-family: var(--fn-sans);
    font-size: 14px;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1.35;
}

.rateContainer {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.rateContainer > p {
    font-family: var(--fn-sans);
    font-size: 14px;
    margin-left: auto;
}

.rateContainer > p .totalRate {
    /* color :  */
}

.rateContainer > p > .maxRate {
    color: rgba(0,0,0,0.3);
    font-size: 13px;
}


/* 최근 달린 리뷰 엠티셋 */

.emptysetCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emptysetCard h3 {
    font-family: var(--fn-sans);
    font-weight: 500;
    font-size: 18px;
}

.emptysetCard .circle {
    margin-top: 10%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    color : #fff;
}

.emptysetCard .pleaseReview {
    margin-top: 5%;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
}
.emptysetCard .pleaseReview::after {
    content: '😎 소중한 리뷰를 추가해주세요:)';
}
/* 여러분의 소중한 리뷰를<br/> 추가해주세요{":)"}😎 */
.emptysetCard:hover .circle {
    background-color: rgba(0,0,0,0.5);
}

.emptysetCard:hover .pleaseReview::after {
    content: '😍 추가 해주실 거죠?';
}